<section id="help" class="row">
    <div class="col-md-12">
        <h2 class="title">About</h2>
        <section>
            <h3>How to use</h3>
            <p>Enter stats for desired lift. Each lift will be tracked by the time it is entered and represented as thus
            on the graphs in the <a href="#history">History</a> panel.</p>
            <br>
            <p>Data can be cleared by visiting the <a href="#settings">Settings</a> panel and clearing the data.</p>
        </section>
    </div>
</section>