<section id="edit-history" class="row text-center">
    <div class="col-md-12">
        <h2 class="title">Edit History</h2>
        <section ng-hide="exercise">
            <ul class="exercise-list">
                <li>
                    <button ng-click="selectExercise('bench')" class="btn btn-pastel-blue">Bench Press</button>
                </li>
                <li>
                    <button ng-click="selectExercise('squat')" class="btn btn-pastel-blue">Squat</button>
                </li>
                <li>
                    <button ng-click="selectExercise('deadlift')" class="btn btn-pastel-blue">Deadlift</button>
                </li>
            </ul>
        </section> <!-- selecting lift -->
        <section class="data" ng-show="exercise">
            <h3>{{exercise == 'bench' ? 'Bench Press' : exercise }}</h3>
            <button class="btn btn-default pull-left" ng-click="exercise = null; rows = []" style="margin-bottom: .5em;">
                <i class="fa fa-arrow-left"></i>
                Go Back
            </button>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Date</td>
                        <td>Reps</td>
                        <td>Weight</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows.slice(((currentPage-1)*itemsPerPage), ((currentPage) * itemsPerPage))">
                        <td>{{row.date}}</td>
                        <td>{{row.reps}}</td>
                        <td>{{row.weight}}</td>
                        <td><button class="btn btn-primary" ng-click="edit(row)">Edit</button></td>
                        <td><button class="btn btn-danger" ng-click="delete(exercise, row, $index)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Pagination-->
            <uib-pagination ng-show="rows.length > 10" total-items="rows.length" ng-model="currentPage"></uib-pagination>
        </section> <!--table data -->
    </div>
</section>