//Bootstrap Overrides
.navbar{
  border: 0;
}
.navbar-nav{
  margin: 0 -15px;
}
.navbar-toggle{
  float: left;
  margin: 1em;
}
.navbar-inverse{
  color: $white;
  margin: 0;
}

.nav{
  > li{
    padding: 1em;
    border-bottom: 1px solid white;
    &:active{
      background-color: $light-black;
    }
    &:last-child{
      border: 0;
    }
  }
}

//End BootStrap Overrides

#header{
  position: relative;
  h1{
    margin: 1rem;
    font-size: 2.5em;
  }
}

#main-nav{
  position: absolute;
  background-color: #222;
  width: 70%;
  height: 100vh;
  left: -70%; //initially off-screen, offset by the width
  -webkit-transition: left 750ms;
  -moz-transition: left 750ms;
  -ms-transition: left 750ms;
  -o-transition: left 750ms;
  transition: left 750ms;
}

/*
.navbar-trigger{
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background: transparent none;
  border: 1px solid transparent;
  border-radius: 4px;

  &.navbar-trigger-left{
    float: left;
  }

  &.navbar-trigger-right{
    float: right;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $white;
    & + .icon-bar{
      margin-bottom: 4px;
    }
  }
}
*/