<section class="row text-center">
    <div class="col-md-12">
        <h2 class="title">{{exercise ? exercise : 'Select Exercise'}}</h2>

        <section ng-hide="exercise" ng-class="{ 'animated {{animationClass}}' : !exercise }">
            <h3 ng-show="message">{{message}}</h3>
            <ul class="exercise-list">
                <li>
                    <button ng-click="setExercise('Bench Press')" class="btn btn-pastel-blue">Bench Press</button>
                </li>
                <li>
                    <button ng-click="setExercise('Squat')" class="btn btn-pastel-blue">Squat</button>
                </li>
                <li>
                    <button ng-click="setExercise('Deadlift')" class="btn btn-pastel-blue">Deadlift</button>
                </li>
            </ul>
        </section>

        <section ng-show="exercise" ng-class="{ 'animated lightSpeedIn' : exercise }">
            <h3>Enter your best set!</h3>
            <form ng-submit="saveExercise()">
                <div class="form-group">
                    <label for="reps">Reps</label>
                    <input type="number" name="reps" id="reps" ng-model="reps" class="form-control">
                </div>
                <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="number" name="weight" id="weight" ng-model="weight" class="form-control">
                </div>
                <input type="submit" class="btn btn-success" value="Save">
                <button class="btn btn-default" ng-click="reset()">Cancel</button>
            </form>
        </section>
    </div>
</section>