$pastel-brown: #836953;
$pastel-magenta: #F49AC2;
$pastel-green: #77DD77;
$pastel-dark-blue: #779ECB;
$pastel-blue: #079ed2;
$pastel-orange: #FFB347;
$pastel-violet: #CB99C9;
$pastel-red: #ff6961;
$pastel-yellow: #fdfd96;
$pastel-dark-green: #03c03c;

$white: #fff;
$black: #000;
$light-black: #333;