//Partials
@import 'partials/reset';
@import 'partials/colors';
@import 'partials/buttons';
//Modules
@import 'modules/header';
@import 'modules/exercises';
@import 'modules/charts';

body{
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;

  //Slide Menu Open
  &.mm-open{
    overflow-x: hidden;

    #main-nav{
        left: 15px;
    }
    #main{
      left: 70%;
    }
  }
}

#main{
  margin-top: 1em;
  position: relative;
  left: 0;
  -webkit-transition: left 750ms;
  -moz-transition: left 750ms;
  -ms-transition: left 750ms;
  -o-transition: left 750ms;
  transition: left 750ms;
  h1{
    border-bottom: 1px solid #ddd;
  }
  h1, h2, h3{
    padding-bottom: .5em;
    margin-bottom: .5em;
    text-align: center;
  }
}

#settings {
  .option{
    > .btn {
      display: block;
      margin-bottom: .25em;
    }
  }
}

.alert{
  margin: 1em;
}

